@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cave-black text-white font-sans antialiased;
  background-image: radial-gradient(circle at 50% 0%, #1a1a1a 0%, #121212 100%);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif text-cave-gold;
}

/* Custom Scrollbar for Sidebar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
